#!/bin/sh

USER={{ mariadb_backup_user }}
PASSWD={{ mariadb_backup_user_passwd }}
DIR={{ mariadb_home }}

databases=$(mysql --user=${USER} --password=${PASSWD} -e 'show databases;' | grep -vi 'mysql\|schema\|Database')

for db in ${databases}
do
  mysqldump \
    --user=$USER \
    --password=$PASSWD \
    --single-transaction \
    --flush-logs \
    --add-drop-table \
    --databases $db \
    > $DIR/$db.sql
    /usr/bin/bzip2 -f $DIR/$db.sql
    chmod 600 $DIR/$db.sql.bz2
done
