-- remove guest access
DELETE FROM mysql.user WHERE user='';

-- remove remote access
DELETE FROM mysql.user WHERE user='root' and host NOT in ('localhost', '127.0.0.1', '{{ jail_hostname }}');

-- drop test db
DROP DATABASE test;
DELETE FROM mysql.db WHERE db='test' or db='test\\_%';

-- allow root access from jail host
GRANT ALL PRIVILEGES ON *.* TO 'root'@'{{ jail_net_ip }}' IDENTIFIED BY PASSWORD '{{ mariadb_root_passwd }}' WITH GRANT OPTION;

-- set root password
UPDATE mysql.user SET password='{{ mariadb_root_passwd }}' WHERE user='root';

FLUSH PRIVILEGES;
